/* List view */
.list-view .content {
    display: flex;
}

.list-view .doctor-grid {
    flex: 2;
}

.list-view .doctor-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 400px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
   }
}