#about-view {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

/* List view */
.list-view .content {
    display: flex;
}

.list-view .patient-grid {
    flex: 2;
}

.list-view .patient-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 400px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
   }
}